<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bw.mapper.UserMapper">
	<select id="selectList" resultType="com.bw.bean.User">
		select * from user
	</select>

	<insert id="add" parameterType="com.bw.bean.User">
		<selectKey keyColumn="uid" keyProperty="uid" order="AFTER"
			resultType="int">
			select last_insert_id()
		</selectKey>
		insert into
		user(phone,email,nickname,age)values(#{phone},#{email},#{nickname},#{age})
	</insert>
</mapper>
